/******************************* ELEMENT SELECTORS *******************************/
* {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav, header, footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-around;
}

p, a {
    color: #e5e7eb;
    font-size: 18px;
}

p {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

header {
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

h1 {
    line-height: 1.4;
}

/******************************* CLASS SELECTORS *******************************/
.links {
    display: flex;
    gap: 1em;
}

.header-image {
    background-color: #6d747d;
}

.header-info, .header-image {
    height: 150px;
    margin: 64px 0;
    width: 350px;
}

.pikachu-header {
    height: 100%;
    width: 100%;
}

.sign-up {
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 8px 30px;
}